gamedata/**
bin/**
generatedgames/**
generatedgames 5k test/**
generatedgames BACKUP/**
levelgen/**
mutatedgames/**
mutatedgames BACKUP/**
mutatedgames PUZZLEBACKUP/**
puzzlegamedata/**
game_generator/**
sprites/**
sokoban3_lvls/**
*.dat
*.class
/nbbuild/
/nbproject/
build.xml